<ion-content>
    <ion-card *ngIf="solicitud" class="{{header?.Estatus.toLowerCase().replace(' ', '_')}}">
        <ion-card-header class="ion-text-center">
            <ion-icon name="document" size="large"></ion-icon>
            <p>{{solicitud.alias}} ({{header.Id}})</p>
            <p>Grupo: {{header.Grupo}}</p>
            <ion-button color="danger" size="small" *ngIf="header.Estatus === 'En cola'" (click)="confirmar(header.Id)">Ejecutar</ion-button>
        </ion-card-header>
        <ion-card-content>

            <ion-row>
                <ion-col size="6">
                    <p>Fecha Encolamiento</p>
                    <p>{{header.FechaEncolamiento}}</p>
                </ion-col>
                <ion-col size="6">
                    <p>
                        <ion-chip *ngIf="header.Estatus === 'Terminado'" color="success">{{header.Estatus}}</ion-chip>
                        <ion-chip *ngIf="header.Estatus === 'En cola'" color="secondary">{{header.Estatus}}</ion-chip>
                        <ion-chip *ngIf="header.Estatus === 'En proceso'" color="primary">{{header.Estatus}}</ion-chip>
                        <ion-chip *ngIf="header.Estatus === 'Sin valores'" color="medium">{{header.Estatus}}</ion-chip>
                    </p>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">
                    <p>Fecha inicio</p>
                    <p>{{header.FechaInicio}}</p>
                </ion-col>
                <ion-col size="6">
                    <p>Fecha Fin</p>
                    <p>{{header.FechaFin}}</p>
                </ion-col>
            </ion-row>

            <ion-row class="ion-margin-bottom">
                <ion-col size="12">
                    <p>Solicitante</p>
                    <p>{{header.Correo}}</p>
                </ion-col>
                <ion-col size="12">
                    <p>Tipo Descarga</p>
                    <p>{{header.Producto}} - {{header.Tipo}} - {{header.TipoDocumento}}</p>
                </ion-col>
                <ion-col size="12" *ngIf="header.Error">
                    <p>Error</p>
                    <p>{{header.Error}}</p>
                </ion-col>
            </ion-row>

            <ion-segment [(ngModel)]="segment" [swipeGesture]="true">
                <ion-segment-button value="filtros">
                    <ion-label>Filtros</ion-label>
                </ion-segment-button>
                <ion-segment-button value="archivos">
                    <ion-label>Archivos</ion-label>
                </ion-segment-button>
            </ion-segment>

            <div *ngIf="segment === 'archivos'">
                <ion-list lines="none">
                    <ion-item *ngFor="let file of solicitud.archivos | entries">
                        <ion-row>
                            <ion-col size="10">
                                {{file[0]}}
                            </ion-col>
                            <ion-col size="2" class="ion-text-end">
                                <ion-icon name="checkmark-circle" color="success" *ngIf="file[1]"></ion-icon>
                                <ion-icon name="close-circle" color="danger" *ngIf="!file[1]"></ion-icon>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-list>
            </div>

            <div *ngIf="segment === 'filtros'">
                <ion-list lines="none">
                    <ion-item *ngFor="let filtro of solicitud.filtros[0] | entries">
                        {{filtro}}
                    </ion-item>
                </ion-list>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
