<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-content>
            <ion-row *ngIf="space">
                <ion-col size="2" class="ion-align-items-center ion-justify-content-center" style="display: flex; flex-direction: column">
                    <ion-icon name="save-outline" color="success" size="large" *ngIf="space.perc > 50"></ion-icon>
                    <ion-icon name="save-outline" color="warning" size="large" *ngIf="space.perc <= 50 && space.perc >20"></ion-icon>
                    <ion-icon name="save-outline" color="danger" size="large" *ngIf="space.perc <= 20"></ion-icon>
                    <ion-text style="font-size: 12px">
                        {{space.all}} GB
                    </ion-text>
                </ion-col>
                <ion-col size="10">
                    <p>Espacio en el disco duro</p>
                    <p>
                        <ion-chip>{{space.used}}GB</ion-chip>
                        <ion-chip>{{space.free}}GB</ion-chip>
                        <ion-chip>{{space.perc}}%</ion-chip>
                    </p>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <p class="ion-margin" style="margin-bottom: 0">Lista de solicitudes</p>

    <ion-card style="margin-top: 0; max-height: 500px; overflow-y: auto">
        <ion-card-content>
            <ion-list lines="none">
                <ion-item-sliding *ngFor="let a of [1,2,3,4,5,6]">
                    <ion-item>
                        <ion-label>
                            <h2>HubStruck Notifications</h2>
                            <p>A new message in your network</p>
                            <p>Oceanic Next has joined your network</p>
                        </ion-label>
                        <ion-note slot="end">
                            10:45 AM
                        </ion-note>
                    </ion-item>

                    <ion-item-options side="end">
                        <ion-item-option>
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-item-option>
                        <ion-item-option>
                            <ion-icon slot="icon-only" name="star"></ion-icon>
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
