<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card>
        <ion-card-content>
            <ion-row *ngIf="space">
                <ion-col size="2" class="ion-align-items-center ion-justify-content-center" style="display: flex; flex-direction: column">
                    <ion-icon name="save-outline" color="success" size="large" *ngIf="space.perc < 50"></ion-icon>
                    <ion-icon name="save-outline" color="warning" size="large" *ngIf="space.perc >= 50 && space.perc < 20"></ion-icon>
                    <ion-icon name="save-outline" color="danger" size="large" *ngIf="space.perc >= 20"></ion-icon>
                    <ion-text style="font-size: 12px">
                        {{space.all}} GB
                    </ion-text>
                </ion-col>
                <ion-col size="10">
                    <p>Espacio en el disco duro</p>
                    <p>
                        <ion-chip>{{space.used}}GB</ion-chip>
                        <ion-chip>{{space.free}}GB</ion-chip>
                        <ion-chip>{{space.perc}}%</ion-chip>
                    </p>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

    <ion-row class="ion-margin" style="margin-bottom: 0">
        <ion-col style="display: flex; justify-content: space-between">
            <p class="ion-no-margin">Lista de solicitudes <ion-badge *ngIf="count">{{count}}</ion-badge></p>
            <ion-icon name="funnel" (click)="openFiltros()"></ion-icon>
        </ion-col>
    </ion-row>

    <ion-card style="margin-top: 0; max-height: 500px; overflow-y: auto">
        <ion-card-content style="padding: 5px">
            <ion-list lines="none">
                <ion-item class="ion-text-center" *ngIf="!solicitudes" (click)="openFiltros()">
                    <ion-label>Realiza una busqueda</ion-label>
                </ion-item>

                <ion-item *ngFor="let s of solicitudes" (click)="goTo(s.Id)">
                    <ion-label>
                        <h2>{{s.Id}} - {{s.NombreGrupo}}</h2>
                        <p>{{s.Grupo}} - {{s.Producto}} - {{s.Tipo}} - {{s.TipoDocumento}}</p>
                        <p>ENC: {{s.FechaEncolamiento}}</p>
                        <p *ngIf="s.FechaInicio">INI: {{s.FechaInicio}}</p>
                    </ion-label>
                    <ion-note slot="end">
                        <ion-chip *ngIf="s.Estatus === 'Terminado'" color="success">{{s.Estatus}}</ion-chip>
                        <ion-chip *ngIf="s.Estatus === 'En cola'" color="secondary">{{s.Estatus}}</ion-chip>
                        <ion-chip *ngIf="s.Estatus === 'En proceso'" color="primary">{{s.Estatus}}</ion-chip>
                        <ion-chip *ngIf="s.Estatus === 'Sin valores'" color="medium">{{s.Estatus}}</ion-chip>
                    </ion-note>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>

